.mission-vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--space-xl) var(--space-lg);
  margin: var(--space-lg) var(--space-xl);
  padding: var(--space-lg);
}

.mission, .vision {
  display: flex;
  flex-direction: column;  
  border-radius: var(--radius-lg);
  color: white;
  padding: 5rem 2rem; /*fixed*/
  gap: 2rem; /*fixed*/
  position: relative;
  overflow: hidden;
}

.mission h1, .vision h1 {
  font-size: var(--text-xxl);
  font-weight: var(--font-bold);
}

.mission p, .vision p {
  font-size: var(--text-md);
  font-weight: var(--font-regular);
}

.mission {
  background-color: #1b4fbf;
}

.vision {
  background-color: #4da61f;
}

.mission::before, .vision::before {
  content: '';
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.mission::before {
  background: #305dc0;
}

.vision::before {
  background: #67ab43;
}

@media (max-width: 1200px) {
  .mission-vision {
    grid-template-columns: 1fr;
  }
}