.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: var(--space-xl);
}

.grades {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.gradesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: var(--space-lg);
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
}

@media (max-width: 900px) {
  .actions {
    grid-template-columns: 1fr;
  }
}
