.level-card-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-xl) var(--space-lg);
    margin: var(--space-lg) var(--space-xl);
    padding: var(--space-lg);
}

.level-card {
    flex: 1 1 18rem;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
}

.upper-level-card {
    height: 8rem;
}

.upper-level-card img {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    object-fit: cover;
}

.lower-level-card {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem; /*fixed*/
}

.lower-level-card h4 {
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
    color: var(--color-text);
    margin: 0;
}

.lower-level-card p {
    font-size: var(--text-md);
    font-weight: var(--text-regular);
    line-height: 1.5;
    color: var(--color-muted);
}
