/*Location Card*/

.location-card-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--space-xl) var(--space-lg);
  margin: var(--space-lg) var(--space-xl);
  padding: var(--space-lg);
  background: var(--background-color);

}

/*Left Location Card*/

.left-location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*text-align: center;*/
  gap: var(--space-sm);
}

.left-location-card h1 {
  margin: var(--space-lg);
  font-size: var(--text-xxl);
  font-weight: var(--font-bold);
  color: var(--color-text);
}

.left-location-card p {
  margin: 0;
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  line-height: 1.5;
  color: var(--color-text);
}

/*Image & Map*/

.left-location-card img,
.right-location-card iframe { 
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md);
}

.left-location-card img {
  margin: var(--space-sm);
  width: 60%;
  object-fit: cover;
}

.location-buttons {
  display: flex;
  gap: var(--space-lg);
}

.previous-location-button,
.next-location-button {
  cursor: pointer;
  color: var(--primary-color);
  transition: transform 0.2s ease;
}

.previous-location-button:hover,
.next-location-button:hover {
  transform: translateY(-2px);
  color: var(--secondary-color);
}

/*Right Location Card*/

.right-location-card iframe {
  width: 100%;
}

@media (max-width: 1200px) {
  .location-card-board {
    grid-template-columns: 1fr;
  }

  .left-location-card img {
    width: 100%;
  }
}