.banner {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 2rem 1.5rem;
    margin: 2rem 0rem;
    padding: 5rem 10rem;
}

.label {
    /*border: 2px solid #fff;*/
    flex: 1 1 10rem;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 1.75rem;
    margin: 0;
    margin-top: 0.5rem;
}