/*Footer*/

.footer {
    background: var(--primary-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: var(--space-lg);
    margin: 0;
    margin-top: var(--space-xl);
    padding: 3rem 5rem; /*fixed*/
}

/*Contact Section*/

.contact-section {
    flex: 2;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-sm);
}

.contact-section p{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 0 var(--space-sm);
    font-size: var(--text-md);
    font-weight: var(--font-medium);
}

.title {
    flex: 1;
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
    margin-bottom: var(--space-lg);
}

/*Social Section*/

.social-section{
    flex: 1;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--space-sm);
}

.social-section a{
    text-decoration: none;
    font-size: var(--text-md);
    font-weight: var(--font-medium);
    color: white;
}

.social-section a:hover{
    opacity: 0.8;
}

.social {
    display: flex;
    align-items: center;
    gap: 0 var(--space-sm);
}

.icon {
    font-size: var(--text-lg);
}

span {
    font-size: var(--text-md);
}

@media (max-width: 1200px) {
    .footer {
        margin: 0;
        padding: 0;
        display: none;
    }
}
