.guide {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: var(--space-lg) auto;
  padding: var(--space-lg)
}

.guide-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateX(-50%);
}

.guide-item {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.guide-item-left {
  justify-content: flex-start;
}

.guide-item-right {
  justify-content: flex-end;
}

.guide-content {
  width: 45%;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.guide-item-right .guide-content {
  flex-direction: row-reverse;
}

.guide-number {
  min-width: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: white;
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
}

.guide-card {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: var(--radius-lg);
  padding: var(--space-md);
  box-shadow: var(--shadow-sm)
}

.guide-card-title {
  margin-bottom: 0.4rem; /*fixed*/
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  color: var(--secondary-color);
}

.guide-card-text {
  color: var(--color-muted);
  line-height: 1.5;
  font-size: var(--text-md);
}

@media (max-width: 1200px) {
  .guide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guide-line {
    display: none;
  }

  .guide-item {
    width: auto;
  }

  .guide-item-left,
  .guide-item-right {
    justify-content: center;
  }

  .guide-content {
    width: fit-content;
    max-width: 900px;
  }

  .guide-item-right .guide-content {
    flex-direction: row;
  }
}